[Unit]
Description=Auto Build Service
After=network.target

[Service]
Type=simple
# Replace this path to point to your MercuryAllow installation
ExecStart=/path/to/MercuryAlloy/autobuild.sh
Restart=always
RestartSec=3h
# Certain environment variables are expected by various parts of the build process.
# Fill in the explicit value here manually.
Environment="HOME=[Your $HOME value]"
Environment="PATH=[Your $PATH value]"
Environment="TERM=xterm-256color"
User=[Your user]

[Install]
WantedBy=multi-user.target

